{{#each}}
    <div class="col-4">
        <div class="product one">
            <img class="image" src="{{image}}"/>
        </div>
        <div class="description">
            <div class="productname">{{name}}</div>
            <div class="productdesc">{{desc}}</div>
            <div class="productprice">{{price}}</div>
        </div>
    </div>
{{/each}}